@using Data.Models
@model ICollection<HeroModel>

@{
	ViewData["Title"] = "Search";
}


@if (ViewBag.Error != null)
{
<div class="bg-danger rounded p-4 shadow">
	<h3 class="text-white text-center p-4">
		@ViewBag.Error
	</h3>
</div>
}

@if (Model is null && ViewBag.Error is null)
{
<div class="bg-white rounded p-4 shadow">
	<h3 class="text-center">
		Type the name of a hero you want to find
	</h3>
</div>
}

@if (Model != null)
{

	@if(Model.Count > 0){

		<div class="hero-list">
			@foreach (var hero in Model)
			{
			<div class="herocard">
				<img class="herocard-img" src="@hero.Image.Url" alt="@hero.Name">
				<div class="herocard-body">
					<h5 class="herocard-title text-center">@hero.Name</h5>
					<p class="card-text text-center">@hero.Appearance.Gender</p>
					@Html.RouteLink("DETAILS", "character", new { id = hero.Id }, new { Class = "btn btn-block btn-primary" })
				</div>
			</div>
			}
		</div>
	}else{
		<div class="bg-white rounded p-4 shadow">
			<h3 class="text-center p-4">
				The search didn't return results
			</h3>
		</div>
	}
}