@using Data.Models
@model ICollection<HeroModel>

@{
	ViewData["Title"] = "Search";
}

@if (Model is null)
{
	<div class="bg-white rounded p-4">
		<h3 class="text-center">
			Type the name of a hero you want to find
		</h3>
	</div>
}
else
{
	@if (ViewBag.Error != null)
	{
		<div class="bg-danger rounded p-4">
			<h3 class="text-white text-center p-4">
				@ViewBag["error"]
			</h3>
		</div>
	}
	else
	{

		@if (Model.Count == 0)
		{
			<div class="bg-white rounded p-4">
				<h3 class="text-center p-4">
					The search didn't return results
				</h3>
			</div>
		}
		else
		{
			<div class="hero-list">
				@foreach (var hero in Model)
				{
					<div class="herocard">
						<img class="herocard-img" src="@hero.Image.Url" alt="@hero.Name">
						<div class="herocard-body">
							<h5 class="herocard-title text-center">@hero.Name</h5>
							<p class="card-text text-center">@hero.Appearance.Gender</p>
							@Html.RouteLink("DETAILS", "character", new { id = hero.Id }, new { Class = "btn btn-block btn-primary" })
							@*<a asp-action="character" asp-route-id="@hero.Id" class="btn btn-block btn-primary">DETAILS</a>*@
						</div>
					</div>
				}
			</div>
		}
	}
}